* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.header {
  font-size: 1.8rem;
  font-weight: 500;
  color: white;
  border: 0.3rem solid white;
  padding: 0.7rem 1.8rem;
  margin: 1rem 0;
}

.sub-header {
  font-size: 1rem;
  margin: 0.5rem 0;
  align-self: flex-start;
}

iframe {
  width: 100%;
  border: 1px solid rgb(76, 0, 255);
}
